{
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": 0,
    "no-console": 0,
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "vue/no-v-html": 0,
    "vue/multi-word-component-names": 0,
    "import/named": 0
  }
}
