# Dependencies
node_modules

# Logs
*.log*

# Temp directories
.temp
.tmp
.cache

# Yarn
**/.yarn/cache
**/.yarn/*state*

# Generated dirs
dist
.nuxt
.output
.gen

# Env files
.env
.env.*
!.env.example

# Development
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea